<html ng-app="app">
  <head>

  <title>
    Dax Richardson
  </title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="lib/semantic-ui/dist/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
  <!-- libs -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/semantic-ui/dist/semantic.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- app -->
  <script src="/src/app.js"></script>

  <!-- controllers -->
  <script src="/src/controllers/Main.js"></script>
  <script src="/src/controllers/About.js"></script>
  <script src="/src/controllers/Portfolio.js"></script>

  <!-- directives -->
  <script src="/src/directives/navbar.js"></script>
  </head>


  <body>

    <nav class="ui menu top inverted">
      <section class="header item">
        Dax Richardson
      </section>

      <a class="item" ui-sref="main">Home</a>
      <a class="item" ui-sref="blog">Blog</a>
      <a class="item" ui-sref="portfolio">Portfolio</a>
    </nav>

    <main ui-view class="ui container">

    </main>
  </body>
</html>
