<html ng-app="app">
  <head>

  <title>
    Dax Richardson
  </title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="lib/foundation-sites/dist/foundation.min.css" />

  <!-- libs -->
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/foundation-sites/dist/foundation.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>

  <!-- app -->
  <script src="/src/app.js"></script>

  <!-- controllers -->
  <script src="/src/controllers/Main.js"></script>
  </head>


  <body>
    <main ng-view>

    </main>
  </body>
</html>
