<section>
  <!-- Break into Nav Directive -->
  <nav class="top-bar">
    <ul class="top-bar-left menu">
      <li class="menu-text">Dax Richardson</li>
    </ul>
  </nav>

  <div class="row">
    <div class="column text-center">
      <div class="jumbo">
        <h1>Dax Richardson</h1>
        <h4>Full-Stack Web Developer</h4>
      </div>
    </div>
  </div>

  <hr />

  <!-- Does this need to be broken down? -->
  <div class="row">
    <div class="column large-4 medium-6 small-12">
      <h3 class="text-center">About Me</h3>
    </div>
    <div class="column large-4 medium-6 small-12">
      <h3 class="text-center">Portfolio</h3>
    </div>
  </div>
</section>
