<section class="ui container">
  <h1>My Projects</h1>

  <div class="ui cards three">

      <div class="ui fluid card">
        <div class="image">

        </div>

        <div class="content">
          <div class="header">Personal Website</div>
          <div class="meta">Angular, Express, PostgreSQL, Node, Semantic UI</div>
          <div class="description">
            <p>The site you're on right now! This was created to showcase my portfolio,
            as well as a space for me to write blog posts. This site in is current
            state is a work in progress, and with time it will grow and change to
            reflect my progression as a web developer.</p>

            <p>This site was created with Angular 1.5, Node, Express, Semantic UI,
              and is using PostgreSQL with BookshelfJS as an ORM.</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated">
            <a href="https://github.com/gromkii/daxblog">Github Repo</a>
          </div>
        </div>
      </div>



      <div class="ui fluid card">
        <div class="image">
          <img src="/img/lfg.png"/>
        </div>

        <div class="content">
          <div class="header">Looking For Group</div>
          <div class="meta">Angular, Express, PostgreSQL, Node, Bootstrap</div>
          <div class="description">
            <p>A social networking platform on both web-based and ios platforms that allows for tabletop gamers to find local game sessions in their area to join.</p>

            <p>This project was built over the course of two weeks, using Node, Express, Postgresql, and BookshelfJS for a back-end api. The web-based application uses Angular 1.5, Bootstrap, and custom SCSS. The ios app was developed using Xcode 7.3 and Swift 2.3, including use of the third party frameworks Alamofire and SwiftyJSON to connect to the API.</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated">
            <a href="https://github.com/gromkii/looking-for-group">Github Repo</a>
          </div>

          <div class="right floated">
            <a href="http://lookingforgroup.io">Live Demo</a>
          </div>
        </div>
      </div>

      <div class="ui card fluid">
        <div class="image">
          <img src="/img/bh.png"/>
        </div>

        <div class="content">
          <div class="header">Brew Hound</div>
          <div class="meta">Angular, Express, Node, MapboxGL, Bootstrap</div>
          <div class="description">
            <p>Brew Hound is a web application created in collaboration with Skylar Versage that asks a user's top 3 favorite beers, and locates breweries in the area with recommendations based on their input, along with displaying their location on a map.</p>

            <p>This application was built using AngularJS 1.5 and Bootstrap for the front-end, as well as MapboxGL for displaying locations.</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated">
            <a href="https://github.com/gromkii/ds-project">Github Repo</a>
          </div>

          <div class="right floated">
            <a href="http://lookingforgroup.io">Live Demo</a>
          </div>
        </div>
      </div>

      <div class="ui card fluid">
        <div class="image">
          <img src="/img/goT.png"/>
        </div>

        <div class="content">
          <div class="header">goTravel</div>
          <div class="meta">Node, Express, PostgreSQL</div>
          <div class="description">
            <p>A web app that allows users to share travel tips for their favorite
            places to go, as well as advice based on the time of the year. I worked
            on this project with <a href="https://github.com/karen818">Karen Kelly</a> as part of our
            second quarter project for Galvanize.</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated">
            <a href="https://github.com/karen818/q2Project">Github Repo</a>
          </div>

          <div class="right floated">
            <a href="http://lookingforgroup.io">Live Demo</a>
          </div>
        </div>
      </div>

      <div class="ui card fluid">
        <div class="image">
          <img src="/img/hcb.png"/>
        </div>

        <div class="content">
          <div class="header">Hidden City Brews</div>
          <div class="meta">React, Firebase, BreweryDB</div>
          <div class="description">
            <p>Hidden City Brews was created as part of my first quarter project
            for Galvanize, in which I had the opportunity to teach myself React in
            to create a front-end only webpage that pulls in data from BreweryDB. The
            app allows users to search for locations and local microbreweries in the
            area, as well as their selection of beers.</p>
          </div>
        </div>
        <div class="extra content">
          <div class="left floated">
            <a href="https://github.com/gromkii/hidden-city">Github Repo</a>
          </div>

          <div class="right floated">
            <a href="http://lookingforgroup.io">Live Demo</a>
          </div>
        </div>
      </div>
  </div>
</section>
