<section class="ui container">
  <div class="ui cards centered">

    <div class="card">
      <div class="image">
        <img src="">
      </div>

      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Header</div>
        <div class="meta">Angular, Express, PostgreSQL, Node</div>
        <div class="description">
          This is a description.
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">Link to the project.</div>
      </div>
    </div>


  </div>
</section>
